:root {
  --mono: "Lucida Sans Typewriter", "Lucida Console", "Bitstream Vera Sans Mono";
  --main-gradient : background: conic-gradient(from 0deg at 50% 50%, #2727af, #692cb6, #a034a9, #cf418e, #f2596a, #ff7d3c, #ffa900, #fad726); 
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-family: var(--mono, monospace);
}

p:not(:last-child) {
  margin-bottom: 0.875rem;
}

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}
